<!-- Timeline -->
<div class="timeline" ondragstart="return false;" ondrop="return false;">
	<div class="timeline-goto" ng-class="{ open: view.datePicker.isOpening }"
			ng-click="view.datePicker.toggle()"
			jqui-date-picker
			ng-model="view.datePicker.value"
			date-picker-active="view.datePicker.isOpen"
			date-picker-align="top right"
			date-picker-select="view.datePicker.select()">
		<a href="javascript://" class="open-button"></a>
	</div>
	<!-- Scroll control's container -->
	<div class="timeline-stream-container">
		<a href="javascript://" class="timeline-nav prev"></a>
		<a href="javascript://" class="timeline-nav next"></a>
		<!-- Scroll control -->
		<div timeline-groups class="timeline-groups">
			<!-- group in model.groups -->
			<div timeline-group class="timeline-group">
				<div class="timeline-group-title">
					<span class="timeline-group-title-dims">
						{{ :: group.date | timelineGroupWhen:model.groupBy }}
					</span>
				</div>
				<!-- items <- getItems(group.date) -->
				<div timeline-items items-per-row="2" class="timeline-items">
					<!-- item in items -->
					<div class="timeline-item-container"
						ng-class="{ current: isCurrent(item) }"
						ng-swipe-left="methods.prev()"
						ng-swipe-right="methods.next()">
						<!-- Item (no directive needed for this) -->
						<a timeline-item class="timeline-item" href="javascript://"
							ng-click="methods.openItem(item)">
							<!-- Image URL -->
							<img ng-if=":: !item._isSprite"
								ng-src="{{ (isCurrent(item) ? item.activeThumbnail : null) || item.thumbnail }}"
								alt="{{ :: item.title }}"
								class="timeline-item-thumbnail"
								ondragstart="return false;" ondrop="return false;">
							<!-- Image is CSS sprite -->
							<div ng-if=":: item._isSprite"
								class="timeline-item-thumbnail"
								ng-style="(isCurrent(item) ? item.activeThumbnail : null) || item.thumbnail">
							</div>
							<div class="media-icons timeline-item-states">
								<!-- Playable -->
								<div class="playable media-icon icomoon-play"
									ng-if="item.playable && !isCurrent(item)"></div>
								<!-- Show is currently playing: show play button -->
								<div class="current" ng-if="isCurrent(item)">
									<span class="media-icon icomoon-play"></span>
									{{ :: strings('playLive') }}
								</div>
							</div>
							<!-- Hover-over info -->
							<div class="timeline-item-header">
								<div class="timeline-item-time">
									{{ :: item.start | timelineItemWhen:model.groupBy }}
								</div>
								<div class="timeline-item-title">
									{{ :: item.title }}
								</div>
								<div class="timeline-item-state-icon icomoon-play"
									ng-if="item.playable">
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
