<!doctype html>
<html lang="en">
<head>
<title>Timeline demo</title>
<base href="../">
<meta charset="utf8">
<link href="http://etv.err.ee/Content/less/theme/etv/bootstrap.less" rel="stylesheet">
<!-- CSS for the timeline.  Inspired by the CSS for the previous timeline,   -->
<!-- but otherwise a total re-write.                                         -->
<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css">
<link rel="stylesheet/less" href="style.less" type="text/css">
<!-- Dependencies for the demo (remember to `bower install` in the module    -->
<!-- folder before running this demo                                         -->
<script src="bower_components/less/dist/less.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/hamsterjs/hamster.js"></script>
<script src="bower_components/angular-mousewheel/mousewheel.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- jQuery UI used for demo to provide slider controls                      -->
<script src="bower_components/angular-ui-slider/src/slider.js"></script>
<!-- For debugging purposes, I include each script explicitly.               -->
<!-- In production, you would ng-annotate=>concatenate=>uglify the scripts   -->
<!-- to produce one small bundle script                                      -->
<script src="module.js"></script>
<script src="timeline-template.html" type="text/ng-template"></script>
<script src="timeline-service.js"></script>
<script src="timeline-filters.js"></script>
<script src="timeline-controller.js"></script>
<script src="timeline-directive.js"></script>
<script src="days-directive.js"></script>
<script src="day-directive.js"></script>
<script src="items-directive.js"></script>
<!-- This script defines our angular application.  Its main purpose is to    -->
<!-- reference the battlesnake.timeline module, so that our timeline         -->
<!-- directive is recognised.                                                -->
<script>
(function (angular, less) {
	'use strict';

	/* Remember to add 'battlesnake.timeline' to your module's dependencies */
	angular.module('demo', ['battlesnake.timeline', 'ui.slider'])
		.controller('demoController', demoController);

	function demoController($scope, ERRTimelineAdapterFactory, ETVEndpoint, R2Endpoint) {
		$scope.model = {
			title: 'Timeline demo',
			adapter: null,
			nowPlaying: ''
		};
		$scope.adapters = [
			{ name: 'ETV', adapter: ERRTimelineAdapterFactory(ETVEndpoint) },
			{ name: 'R2', adapter: ERRTimelineAdapterFactory(R2Endpoint) }
		];
		$scope.less = {
			itemSize: 18,
			itemSpacing: 1,
			daySpacing: 1,
			baseColor: '#ea297a',
			backgroundColor: '#3b4257'
		};
		$scope.colors = ['#ea297a', '#3b97a4', '#f58537', '#f7931e', '#ba1e1e', '#3b4257', '#353e43'];
		$scope.$watch('less', refreshLess, true);
		$scope.model.adapter = $scope.adapters[0].adapter;
		return;

		function refreshLess() {
			var vars = _($scope.less).chain()
				.map(function (v, k) {
					return [
						k.replace(/[A-Z]/g, function (c) { return '-' + c.toLowerCase(); }),
						typeof v === 'number' ? v*8 + 'px' : v
					];
				})
				.object()
				.value();
			less.modifyVars(vars);
		}
	}

})(window.angular, window.less);
</script>
<script src="demos/err-endpoints.js"></script>
<script src="demos/err-timeline-adapter.js"></script>
<style>
body {
	font-family: sans-serif;
	margin: 60px;
}
h1 {
	margin-bottom: 60px;
}
.form>label {
	display: block;
	margin: 8px 0 16px;
}
.color-pad {
	width: 64px;
	height: 64px;
	margin: 4px;
	display: inline-block;
	vertical-align: top;
	transition: transform 200ms ease;
}
.color-pad.selected {
	transform: rotate(95deg);
}
</style>
</head>
<body ng-app="demo" ng-controller="demoController">
	<h1 ng-bind="model.title"></h1>
	<!-- Here it is! -->
	<div timeline="model.adapter" class="kartulita" now-playing="model.nowPlaying"></div>
	<!-- That's all there is to it!  Here are the slider controls            -->
	<div style="margin: 60px auto; max-width: 600px;" class="form">
		<label>Now playing
			<input type="text" class="form-control" ng-model="model.nowPlaying">
		</label>
		<label>Tile size
			<div min="8" max="40" ng-model="less.itemSize" ui-slider></div>
		</label>
		<label>Tile spacing
			<div min="1" max="4" ng-model="less.itemSpacing" ui-slider></div>
		</label>
		<label>Day spacing
			<div min="0" max="4" ng-model="less.daySpacing" ui-slider></div>
		</label>
		<label>Background colour<br/>
			<div class="color-pad" ng-repeat="color in colors" ng-style="{ 'background-color': color }" ng-click="less.backgroundColor = color" ng-class="{ selected: (less.backgroundColor === color) }"></div>
		</label>
		<label>Base colour<br/>
			<div class="color-pad" ng-repeat="color in colors" ng-style="{ 'background-color': color }" ng-click="less.baseColor = color" ng-class="{ selected: (less.baseColor === color) }"></div>
		</label>
	</div>
	<p style="margin: 2em auto 1em; max-width: 600px; line-height: 1.7em;">
		<strong>NOTE:</strong> Since we are using the err.ee api from outside the
		err.ee domain, your browser will block the XHRs due to CORS. To disable
		CORS in chrome or chromium, launch it with the
		<b>--disable-web-security</b> command-line parameter. The demos will not
		work otherwise. There is no reliable way to disable CORS in Firefox.
	</p>
</body>
</html>
